:root{
    font-size: 62.5%;
}
.text-center{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}
.clearfix::after{
    clear: both;
    content: '';
    display: block;
}
/* header s */
.header ul.navleft {
    border-bottom-width: 0;
}
.header ul.navleft li{
    min-width: 4.4rem;
}
.header .logo{
    height: 6rem;
    /* background-image: url('../images/register/logo.png'); */
    background-position: -24rem -2.8rem;
}
.header .logo h1{
    text-indent: -999rem;
}
.header .search{
    line-height: 6rem;
    position: relative;
}
.header .search input{
    max-width: 16rem;
}
.lh-60{
    line-height: 6rem;
}
/* header e */

.register {
    padding-top: 15.2rem;
    padding-bottom: 8.2rem;
    background: url('../images/register/content-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.register h3{
    text-align: center;
    color: #292928;
    font-size: 3.6rem;
    width: 100%;
}
.register legend{
    color: #292928;
    font-size: 1.67rem;
    text-align: center;
}
.register>.rg{
    padding-top: 4.2rem;
    padding-bottom: 6.4rem;
    padding-left: 28rem;
    padding-right: 28.6rem;
    width: 37.2rem;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
}
.register .layui-form-mid{
    float: right;
}
.line{
    height: 0.1rem;
    background: #999;
    margin-top: 3rem;
}
.gologin{
    padding-top: 2rem;
    text-align: right;
}
.gologin a {
    color: #eb626e;
}

/* footer s */
.footer{
    padding-top: 2.4rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}
.footer i{
    font-size: 2rem;
}
.footer a{
    font-size: 2rem;
}
.footer .foottp{
    text-align: center;
}
.footer p{
    font-size: 1.8rem;
    text-align: center;
    color: #919191;
    line-height: 4.8rem;
}
.code{
    border: 1px solid #eb626e;
    padding: 1rem 4.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
/* footer e */
/* register e */

/* login s */
.login>.log {
    margin: auto;
    width: 114.6rem;
}
.login .loglf{
    background: rgba(0, 0, 0, 0.8);
    font-size: 2.1rem;
    line-height: 3.6rem;
    color: #FBFBF9;
    font-family: 'Adobe Heiti Std R';
    padding-top: 6.2rem;
    padding-left: 4.8rem;
    padding-right: 3.8rem;
    padding-bottom: 8.8rem;
}
.login .loglf span{
    display: block;
    margin-left: 3.3rem;
    margin-bottom: 3rem;
}
.login .loglf p{
    text-indent: 2.4rem;
}
.login .logrf {
    background-color: rgba(255, 255, 255, 0.8);
    color: #292928;
    padding-left: 10.8rem;
    padding-right: 9.4rem;
    padding-top: 5.1rem;
    padding-bottom: 5.5rem;
}
.login fieldset{
    border-color: #313131;
}
.mt-3{
    margin-top: 3rem;
}
.login .sfdl>div{
    text-align: center;
}
.login .gologin>span a{
    color: #646462;
    font-size: 1.67rem;
}
.login .gologin>span:nth-child(1){
    float: left;
}
.login .gologin>span:nth-child(2){
    float: right;
}
.login .gologin>span a:hover{
    color: #eb626e;
}
/* login e */

/* index s */
.main .ml {
    padding-top: 9.3rem;
}
.main .ml ul li a{
    display: block;
    font-size: 2.4rem;
    line-height: 4.8rem;
    color: #453D3E;
    text-align: center;
}
.current{
    font-size: 3rem !important;
}
.main .mm{
    padding-top: 4.1rem;
}

/* index e */
.crea_nav input{
  height: 24px;
  border-radius: 5px;
  margin-left: 400px;
}
.crea_nav img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 25px;
}
.crea_let{
  width: 350px;
  height: 350px;
  border: 1px solid gray;
  margin-left: 150px;
}
.crea_let .img1{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
}
.crea_let .img2{
  width: 15px;
  height: 15px;
  max-width: 15px;
}
.crea_let table td{
  width: 55px;
  height: 25px;
}
.crea_write{
  position: relative;
  left: 510px;
  top: -340px;
  width: 800px;
  height: 1100px;
  border: 1px solid gray;
  /* display: none; */
}
.upfm{
  width: 680px;
  height: 170px;
  border: 1px solid gray;
  margin-left: 35px;
}
.crea_write .zw{
  width: 685px;
  height: 705px;
  /* border: 1px solid gray; */
  margin-left: 35px;
}
.crea_write input:nth-child(1){
  width: 680px;
  height: 25px;
}
.crea_write input{
  margin-top: 10px;
}
.crea_write button{
  width: 70px;
  height: 35px;
  margin-left: 350px;
  margin-top: 7px;
}
.crea_write .wt{
  width: 680px;
  height: 350px;
  /* border: 1px solid gray; */
}
.wt textarea{
  width: 680px;
  height: 350px;
}
.crea_write .md{
  width: 680px;
  height: 350px;
  border: 1px solid gray;
  /* position: relative;
  left: 343px;
  top: -702px; */
}
.wblg{
  margin-top: 10px;
  margin-left: 35px;
}
.crea_write .a1{
  position: relative;
  left: 50px;
  top: -25px;
}
.hhh{
  width: 600px;
  height: 165px;
}
.box-r{
  height: 600px;
  border: 1px solid gray;
}
.blog-item{
  width: 1000px;
  border: 1px solid gray;
  height: auto;
}
.mi {
    width: 950px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.hhh1{
  display: inline-block;
}
.hhh12{
  display: inline-block;
  width: 30px;
  background-color: green;
  color: white;
}
.blog-item .head{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 15px;
}
.mnb{
  font-size: 18px;
}
/* .mnb02{
  margin-top: 5px;
} */
.time123{
  margin-top: -15px;
}
.mnb02{
  position: relative;
  left: 80px;
  top: -35px;
}
.blog_feh{
  border: 1px solid green;
  width: 980px;
  margin-left: 9px;
}
.syfm{
  max-width: 970px;
}
.yyy3{
  width: 680px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:16;/*超出18行隐藏*/
}
.rmpw{
  width: 570px;
  height: 545px;
  border: 1px solid gray;
  position: relative;
  top: -630px;
  left: 760px;
}
.rmpw div{
  width: 300px;
  height: 200px;
  border: 1px solid gray;
  color: white;
  position: relative;
  top: -400px;
  left: 100px;
}
.rmpw div input{
  margin: 10px;
}
.rmpw .but1{
  margin-left: 50px;
}